.contenedor{
    width: 100%;
    height: 1200px;
    background-color: azure;
    border: solid 1px salmon;
    border-radius: 5px;
}

#cabecera{
    background-color: cornflowerblue;
    position: fixed;
    width: 98%;
    height: 100px;
    top: 0;  
}

#cabecera div{
    width: 70px;
    height: 55px;
    margin-top: 5px;
    margin-right: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    justify-content: center;
}

a:link{
    color: blueViolet;
}
a:visited{
    color: rgb(190, 55, 55);
}
a:hover{
    color: blue;
}
a:active{
    color: black;
}

#menu{
    background-color: cornflowerblue;
    position: fixed;
    width: 98%;
    height: 40px;
    top: 105px;     
}
#menu div{
    width: 105px;
    height: 35px;
    margin-top: 5px;
    margin-right: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    display: inline;
}
#menu img{
    background-color: aliceblue;
    width: 50px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1px;
}

#menu a{
    display: block;
    padding: 1px;
    margin: 1px;
    margin-left: 0;
    float: right;
    font-size: 20px;
}

.contenido{
    background-color: aliceblue;
    width: 100%;
    height: 400px;
    margin-top: 137px;
}

.contenido div{
    background-color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 74%;
    height: 80%;
    float: left;
    margin-right: 1px;
    display: inline;
}

#cuadro{
    background-color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 74%;
    height: 20%;
    float: left;
    border: solid 3px salmon;
    margin: 5px;
    margin-right: 1px;
    flex-direction: column;
}

#cursos{
    background-color: rgb(232, 236, 240);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17%;
    height: 200px;
    padding: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1px;
    border-radius: 3px;
    text-align: center;
}

.contenido .texto{
    background-color: rgb(199, 192, 192);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    padding: 0%;
}

.contenido img{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}
img{
    width: 70px;
    height: 55px;
    margin: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
}
#cursos p{
    display: block;
    width: 60%;
    background-color: rgb(232, 236, 240);
    float: right;
    text-align: center;
}

footer{
    background-color: bisque;
    width: 100%;
    height: 300px;
    background-color: cornflowerblue;
    display: flex;
	flex-flow: row;
	text-align: center;
    display: inline;
}
footer .texto{
    background-color: rgb(199, 192, 192);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    padding: 0%;
    display: inline;
}
#info{
    background-color: rgb(232, 236, 240);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 31%;
    height: 200px;
    padding: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1px;
    border-radius: 3px;
    text-align: center;
}
.boton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}